.git/*
env/
venv/
.venv
.venv/
.env

sent_emails/
.sent_emails/
.sent_emails/*

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
gitignore
vscode/
.vscode/

*.sublime-project
*.sublime-workspace

db.sqlite3

=

db/

migrations/
.migrations
.migrations/

assets/
.assets
.assets/

coverage/
.coverage
.coverage/

media/
.media
.media/

media/cache/

run.sh

*.log
